.App {
  /* text-align: center; */
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 0;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

.list tr:nth-child(even){background-color: #f2f2f2;}

.list tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.title {
  text-align: center;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 15%;
}

/* Middle column */
.column.middle {
  width: 85%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

table.input_form {
  border-collapse: collapse;
  border-style: hidden;
}

table.input_form td {
  border-collapse: collapse;
  border-style: hidden;
}

#transaction tr:hover {
   background-color: #ffffff;
}

#transaction table {
  border-collapse: collapse;
  border-style: hidden;
}

#transaction td {
  border-collapse: collapse;
  border-style: hidden;
}

#transaction {
  margin-bottom: 30px;
}

.transaction-list td {
  max-width: 350px;
}

.hidden {
  display: none;
}

.credit_cards .inactive {
  background-color: darkorange !important;
}

input[type=text] {
  padding: 5px 5px;
  box-sizing: border-box;
}

input[type=password] {
  padding: 5px 5px;
  margin-left: 5px;
  box-sizing: border-box;
}